@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100,100i,300,300i,400,400i,500,500i,700,700i,800,800i,900,900i|Alex+Brush|Bilbo+Swash+Caps|Cinzel+Decorative:400,700|Cinzel:400,700|Codystar|Cormorant+Garamond:300,300i,500,500i,700,700i|Cutive+Mono|Dynalight|Great+Vibes|Jacques+Francois+Shadow|Josefin+Sans:300,300i,400,400i,700,700i|Life+Savers:400,700|Megrim|Metal+Mania|Monsieur+La+Doulaise|Mr+De+Haviland|PT+Mono|Prata|Quicksand:300,400,700|Tangerine:400,700');


/* I got us a couple fonts to choose from! I love typography.
It's important too! As you can see I have serifs, sasns=serifs,
Cursive/Handwritten (it's real name is Script), and Mospace
(aka fixed width sometimes)

font-family: 'Cinzel', serif;
font-family: 'Cormorant Garamond', serif;
font-family: 'Prata', serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Alegreya Sans SC', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Cinzel Decorative', cursive;
font-family: 'Megrim', cursive;
font-family: 'Life Savers', cursive;
font-family: 'Dynalight', cursive;
font-family: 'Codystar', cursive;
font-family: 'Jacques Francois Shadow', cursive;
font-family: 'Metal Mania', cursive;
font-family: 'Tangerine', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Alex Brush', cursive;
font-family: 'Mr De Haviland', cursive;
font-family: 'Bilbo Swash Caps', cursive;
font-family: 'Monsieur La Doulaise', cursive;
font-family: 'Cutive Mono', monospace;
font-family: 'PT Mono', monospace;
*/
